.place-nav-area {
    border: rgba(255, 255, 255, 0.90) 1px solid;
}
.ward-wrap_4 {
    display: flex;
}
.ward-list {
    margin: 10px auto;
    width: 90%;
    border-radius: 4px;
    box-shadow: 9px 9px 16px rgba(0, 0, 0, 0.4), -9px -9px 16px    rgba(205, 210, 255, 0.1);
}
.ward-list-item {
    text-align: center;
    margin: 10px auto;
}
.ward-list-item > a {
    text-decoration: none;
    font-size: 18px;
    color: rgba(255, 255, 255, 0.90);
    font-weight: bold;
    text-shadow: rgba(255, 255, 255, 0.3) 1px 1px 2px;
}

#chuo_color {
    color: rgba(255, 194, 218, 0.9);
}
#chiyoda_color {
    color: rgba(255, 205, 112, 0.9);
}
#minato_color {
    color: rgba(126, 255, 255, 0.9);
}
#shinagawa_color {
    color: rgba(181, 243, 181, 0.9);
}
#koto_color {
    color: rgba(255, 250, 205, 0.9);
}
#shibuya_color {
    color: rgba(238, 186, 255, 0.9);
}
#shinjuku_color {
    color: rgba(173, 173, 255, 0.9);
}
#toshima_color {
    color: rgba(255, 150, 112, 0.9);
}

#chuo {
    color: rgba(255, 194, 218, 0.9);
}
#chiyoda {
    color: rgba(255, 205, 112, 0.9);
}
#minato {
    color: rgba(126, 255, 255, 0.9);
}
#shinagawa {
    color: rgba(181, 243, 181, 0.9);
}
#koto {
    color: rgba(255, 250, 205, 0.9);
}
#shibuya {
    color: rgba(238, 186, 255, 0.9);
}
#shinjuku {
    color: rgba(173, 173, 255, 0.9);
}
#toshima {
    color: rgba(255, 150, 112, 0.9);
}

.month-title {
    text-shadow: rgba(255, 255, 255, 0.466) 1px 1px 2px;
}